{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h2>Привет! Меня зовут Максим, и я начинающий программист.</h2>
  <div>
    <p>
      Это звучит как приговор в клубе анонимных ***. Вроде бы шутка, а, вроде, и не совсем...
    </p>
    <p>
      Я никогда не хотел быть программистом, просто так сложились обстоятельства или это судьба,
      но я решил не сопротивляться тому, что происходит в моей жизни. И вот я читаю книги по программированию,
      решаю задачи и учусь в online-школе Яндекс-практикум.
    </p>
    <p>
      У меня теперь есть профиль на популярной платформе GitHub, где я выкладываю свои
      <a href="https://github.com/epatage">проекты</a>.
    </p>
    <p>
      В целом, начало моего пути как программиста мне нравиться. Бывают приятные моменты, когда я
      нахожу задачи Python-разработчика (это кем я стану после окончания обучения) весьма интересными для себя.
      Бывают периоды когда меня бесит вся эта мишура, и я думаю: "Это всё-таки не моё",
      "Декораторы, валидаторы, селекторы... ну, зачем мне это?!", "Я не хочу этим заниматься!". Но в эти моменты
      меня поддерживает моя рабочая деятельность, и то где я работаю сегодня. Я просто взгляну на то, что происходит в моей компании, на отсуствие
      перспективы и туманное будущее, и у меня появляются силы чтобы терпеть и идти дальше. Через пару дней моё
      настроение смениться и мне станет легче.
    </p>
    <div class="block_container">
     <div class="block">
     <p>
      Еще мне "помогает" заниматься программированием ребенок, он подходит ко мне, закрывает ноутбук и тащит куда-то
      за руку. Это не весело, но забавно.
    </p>
    <p>
      Домашние занятия проходят под гитарное музыкальное сопровождение Estas Tonne и в компании с моей любимой
      кружкой с чаем.
    </p>
     </div>
      <div class="block">
        <img class="right" src="{% static 'img/cup.jpg' %}"  alt="">
      </div>
    </div>
  </div>
<p>
  На кружке изображено главное здание МГУ, где я получал своё третье высшее образование. Это меня вдохновляет
  на новые свершения в учёбе. Может быть пятый диплом, пусть всего лишь дополнительного профессионального
  образования, но даст мне наконец-то толчок, который позволит мне выйти на тот этап жизни где я буду заниматься
  делом, которое мне приносит удоволствие.
</p>
  <p>
  Вот я закончил тратить время на изливание души для "многочисленных" посетителей этого сайта. Какой же я
  молодец! Сам себя не похвалю, тут уж точно никто не похвалит...
  </p>
{% endblock %}