{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
{% comment %} Колонки с отступом сверху и снизу {% endcomment %}
<div class="row">
  <h1>Вот что я умею</h1>
  {% comment %}
    Боковой блок со списком технологий
    Займет всю ширину блока на мобильном
    и 25% при размерах экрана ≥768px
  {% endcomment %}

    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <h4>Python</h4>
        </li>
      </ul>
    </aside>
    {% comment %}
      Статья
      Займет всю ширину блока на мобильном
      и 75% при размерах экрана ≥768px
    {% endcomment %}
    <article class="col-12 col-md-9">
      <p>
        Я работаю с разными типами данных: списками, кортежами, словарями, строками, "булевыми" значениями.
      </p>
      <p>
        Немного разбираюсь в ООП. Знаю про наследование классов и полиморфизм.
      </p>
      <p>
        В целом я пока ещё профан в языке Python и постоянно обращаюсь в поисковик за одними и теми же
        ответами на одни и те же вопросы, но стараюсь по возможности всегда использовать
        list comprehension и иногда блеснуть умением использовать enumerate(). Пусть все думают, что я <b>"pro"</b>.
      </p>
    </article>
<hr>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <h4>Django</h4>
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>
      Могу сделать роутинг запросов
    </p>
    <p>Наверное, смогу сделать рендеринг HTML-шаблонов</p>
    <p>Понимаю как работает ORM, модели, миграции</p>
    <p>Кое-как понял декораторы, могу использовать</p>
    <p>Валидаторы плоховато понял, но в перспективе разберусь</p>
    <p>А вот всё, что связано с версткой (html, css) у меня не получается. Наверное, не мое...</p>
  </article>
</div>
{% endblock %}
